.weather-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 16px;
    padding: 16px;
}

.weather-card {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap:5px;
    justify-content: flex-start; 
    width: 100%; 
    height: 100px; 
    border-radius: 12px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.weather-icon img {
    width: 50px;
    height: 50px;
}

.weather-info {
    text-align: left; 
    margin-left: 10px;
}

.temperature {
    font-size: 1.5em;
    margin: 0;
}

.condition {
    margin: 0;
}
